@media (max-width: 380px) {
    .mobile-responsive {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 1070px) {
    .responsive-padding {
        padding: 0 4rem;
    }
}
